<html>
<body>
   <form>
	<label for="name">Name</label>
	<input type="text" id="name"><br>
	<label for="dob">Date of Birth</label>
	<input type="date" id="dob"><br>
	<label for="email">Email</label>
	<input type="email" id="email"><br>
	<label for="phone">Phone Number</label>
	<input type="text" id="phone"><br>
	<label>Hobby</label><br>
	<input type="checkbox" name="hobby" id="cs" value="cs">
	<label for="cs">Computer</label><br>
	<input type="checkbox" name="hobby" id="ds" value="ds">
	<label for="ds">Data Science</label><br>
	<label>Subject</label><br>
	<input type="radio" name="subject" id="ph" value="ph">
	<label for="ph">Physics</label><br>
	<input type="radio" name="subject" id="mt" value="mt">
	<label for="mt">Maths</label><br>
	<button id="submit">Submit</button>
   </form>
<script>
function emailvalidate() {
	const email = document.getElementById("email").value;
	if (!email.includes("@") || !email.includes(".")) return false;
	else return true;
}
function agevalidate() {
	const dob = new Date(document.getElementById("dob").value);
	const date = new Date();
	if (date.getYear() - dob.getYear() < 21) return false;
	else return true;
}
function allfieldsvalidate() {
	const fields = document.querySelectorAll("input")
	let defaultreturn = true;
	fields.forEach(({value}) => {
	if (value === "") {
		alert("All Fields Are Mandatory");
		defaultreturn = false }
	} )
	return defaultreturn;
}
document.getElementById("submit").addEventListener("click",function (e) {
	e.preventDefault();
	emailvalidate() && agevalidate() && allfieldsvalidate() && fetch("http://localhost:3001/api", {
  		method: "POST",
  		body: JSON.stringify({
    			name: document.getElementById("name").value,
			email: document.getElementById("email").value,
			dob: document.getElementById("dob").value,
			phone: document.getElementById("phone").value
  		}),
  		headers: {
    			"Content-type": "application/json; charset=UTF-8"
  		}
	})
})
</script>
</body>
</html>