<div class="semitrans">
	<h1>Et Cetera...</h1>
	<p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas
		convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis
		velit, id fringilla sem nunc vel mi.</p>
</div>