<div class="fullscreen nopadding">
		<div id="header">
			<img src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Black-Small.png" width="50px" />
			<ul>
				<li>Home</li>
				<li>About</li>
			</ul>
		</div>
		<div class="header">
			<h1> {{year}} Blogs</h1>
		</div>
	</div>