.companyProfilesChild {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.companyWrapper {
  flex: 1;
  flex-direction: column;
  min-width: 330px;
}
.companyCompany,
.companyWrapper,
.edoneilAvvdZlhDowAunsplash {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.edoneilAvvdZlhDowAunsplash {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 32px;
}
.companyCompany {
  flex: 1;
  flex-direction: column;
  gap: 23px 0;
}
.companyProfiles,
.frameCompany {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameCompany {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-lgi);
  max-width: 100%;
}
.companyProfiles {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-24xl) var(--padding-27xl) 251px var(--padding-58xl);
  gap: 73px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .companyProfiles {
    gap: 36px 0;
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .edoneilAvvdZlhDowAunsplash {
    gap: 0 16px;
  }
}
@media screen and (max-width: 450px) {
  .companyProfiles {
    gap: 18px 0;
  }
}
