.productPageChild {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.campusPlacement {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 800;
  font-family: inherit;
  white-space: nowrap;
}
.subFrameB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.home {
  position: relative;
  line-height: 130%;
}
.companyNameText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.companies,
.resources {
  position: relative;
  line-height: 130%;
}
.resourcesText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
}
.calender,
.myProfile {
  position: relative;
  line-height: 130%;
}
.myProfile {
  white-space: nowrap;
}
.forumFrame,
.resourceFrame {
  margin: 0;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.forumFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.resourceFrame {
  height: 27px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.iconCommentSquare {
  height: 21px;
  width: 28px;
  position: relative;
  z-index: 1;
}
.forum1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.forum {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-sm) var(--padding-smi) 18px;
  background-color: var(--color-darkolivegreen);
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 0 17px;
}
.defaultChip:hover,
.forum:hover {
  background-color: var(--color-olivedrab);
}
.calenderFrame,
.subFrameA {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.calenderFrame {
  width: 678px;
  align-items: center;
  justify-content: flex-start;
  gap: 0 48px;
}
.subFrameA {
  width: 1522px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 64px;
  color: var(--color-darkolivegreen);
  font-family: var(--font-newsreader);
}
.companyProfiles {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.default {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.defaultChip {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-4xs) var(--padding-4xs);
  background-color: var(--color-darkolivegreen);
  width: 88px;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.filter {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.aZChip {
  cursor: pointer;
  border: 1px solid var(--color-silver);
  padding: var(--padding-3xs) var(--padding-4xs) var(--padding-4xs);
  background-color: var(--color-white);
  width: 62px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aZChip:hover,
.listChip:hover {
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.listView {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.listChip {
  cursor: pointer;
  border: 1px solid var(--color-silver);
  padding: var(--padding-3xs) 11px var(--padding-4xs) 15px;
  background-color: var(--color-white);
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.companyFrame,
.companyFrameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.companyFrame {
  flex-direction: row;
  gap: 0 8px;
}
.companyFrameWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.companyInfoSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.divider {
  align-self: stretch;
  height: 2px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.companyFrameGoogle,
.companyInfoSectionParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.companyInfoSectionParent {
  width: 1437px;
  height: 93px;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
  gap: 16px 0;
}
.companyFrameGoogle {
  flex: 1;
  gap: 23px 0;
  text-align: left;
  font-size: 50px;
  color: var(--color-black);
  font-family: var(--font-newsreader);
}
.companyFrameBanglore,
.productPage {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.companyFrameBanglore {
  width: 1519px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-base);
  max-width: 100%;
}
.productPage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-13xl) 30px 251px;
  gap: 73px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .resourceFrame {
    display: none;
  }
  .calenderFrame {
    width: 174px;
  }
}
@media screen and (max-width: 750px) {
  .forumFrame {
    display: none;
  }
  .calenderFrame {
    gap: 0 48px;
  }
  .companyProfiles {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
  .companyInfoSection {
    flex-wrap: wrap;
  }
  .companyInfoSectionParent {
    height: auto;
  }
  .productPage {
    gap: 73px 0;
  }
}
@media screen and (max-width: 450px) {
  .companyProfiles {
    font-size: 30px;
    line-height: 36px;
  }
  .productPage {
    gap: 73px 0;
  }
}
