.companyFramesPair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  max-width: 100%;
}
@media screen and (max-width: 750px) {
  .companyFramesPair {
    gap: 0 32px;
  }
}
